################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_ReSharper.Caches/ReSharperPlatformVs157_a8f6b33d.Jaywing.Ditto.00
